




<EditForm Model="@Post" OnValidSubmit="@OnValidSubmit">
   <DataAnnotationsValidator />

    <div class="form-group">
      <label for="disabledTextInput">Title</label>
      <InputText type="text" @bind-Value="@Post.Title"  class="form-control" placeholder="Post Title"/>
      <ValidationMessage For="@(()=> Post.Title)"/>
    </div>
     <div class="form-group">
      <label for="disabledTextInput">Description</label>
      <InputTextArea class="form-control" @bind-Value="@Post.Description" placeholder="Post Description"/>
    </div>

    <div class="form-group">
                <InputSelect @bind-Value="@Post.Category" class="form-control">
                <option value="">Select classification ...</option>
                <option value="Exploration">Exploration</option>
                <option value="Diplomacy">Diplomacy</option>
                <option value="Defense">Defense</option>
            </InputSelect>

    </div>
    <div class="form-group">
      <label for="disabledTextInput">Author</label>
     <InputText  class="form-control"  @bind-Value="@Post.AuthorName" placeholder="Your Name"/>
    </div>

    <button type="submit" class="btn btn-primary">@ButtonText</button>

</EditForm>

@code {
    [Parameter] public Post Post { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public string ButtonText { get; set; }
}
